### Getting Familiar with SQLite

In [3]:
# Helpful link to SQLite
'https://www.sqlite.org/lang.html'

'https://www.sqlite.org/lang.html'

In [4]:
# SQL commands start with '.'
# (i.e. '.tables', '.indicies', '.schema')

In [8]:
# Example code that uses all tricks
print("SELECT COUNT(*) FROM cities WHERE name LIKE 'San%' AND state='CA';")
print('Output: 1')

SELECT COUNT(*) FROM cities WHERE name LIKE 'San%' AND state='CA';
Output: 1

In [10]:
# To export a datatable in Sqlite into a CSV file...

# > .mode csv
# > .headers on
# > .output cities.csv
# > select * from cities;
# > .output stdout

In [11]:
print('First you switch the output mode to CSV, and turn the column headers on. You then tell SQLite to output any statements to the cities.csv file using the .output command. Next you make the query to select all of the rows from the cities table. Then finally the output back is redirected back to the command line.')

First you switch the output mode to CSV, and turn the column headers on. You then tell SQLite to output any statements to the cities.csv file using the .output command. Next you make the query to select all of the rows from the cities table. Then finally the output back is redirected back to the command line.

### Importing Data to SQLite using Python

In [2]:
# Installing pysqlite
'https://pypi.python.org/pypi/pysqlite'

'https://pypi.python.org/pypi/pysqlite'

In [8]:
# The sqlite3 module is used to work with the SQLite database.
import sqlite3 as lite

# Here you connect to the database. The `connect()` method returns a connection object.
con = lite.connect('getting_started.db')

with con:
    # From the connection, you get a cursor object. The cursor is what goes over the records that result from a query.
    cur = con.cursor()
    cur.execute('SELECT SQLITE_VERSION()')
    # You're fetching the data from the cursor object. Because you're only fetching one record, you'll use the `fetchone()` method. If fetching more than one record, use the `fetchall()` method.
    data = cur.fetchone()
    #Finally, print the result.
    print('SQLite version %s' % data)

SQLite version 3.13.0

In [3]:
import sqlite3 as lite

con = lite.connect('getting_started.db')

with con:
    
    cur = con.cursor()
    cur.execute("INSERT INTO cities VALUES('Washington', 'DC')")
    cur.execute("INSERT INTO cities VALUES('Houston', 'TX')")
    cur.execute("INSERT INTO weather VALUES('Washington', 2013, 'July', 'January', 68 )")
    cur.execute("INSERT INTO weather VALUES('Houston', 2013, 'July', 'January', 91)")

In [5]:
# executemany()

import sqlite3 as lite

cities = (('Las Vegas', 'NV'), ('Atlanta', 'GA'))
weather = (('Las Vegas', 2013, 'July', 'December', 95), 
               ('Atlanta', 2013, 'July', 'January', 80))

con = lite.connect('getting_started.db')

with con:
    cur = con.cursor()
    cur.executemany("INSERT INTO cities VALUES(?,?)", cities)
    cur.executemany("INSERT INTO weather VALUES(?,?,?,?,?)", weather)

### Retrieving Data

In [7]:
import sqlite3 as lite

con = lite.connect('getting_started.db')
with con:
    
    cur = con.cursor() #first step, always
    cur.execute("SELECT * FROM cities")
    
    rows = cur.fetchall()
    
    for row in rows:
        print(row)

('New York City', 'NY')
('Boston', 'MA')
('Chicago', 'IL')
('Miami', 'FL')
('Dallas', 'TX')
('Seattle', 'WA')
('Portland', 'OR')
('San Francisco', 'CA')
('Los Angeles', 'CA')
('Washington', 'DC')
('Houston', 'TX')
('Washington', 'DC')
('Houston', 'TX')
('Las Vegas', 'NV')
('Atlanta', 'GA')

In [10]:
# now with pandas

import sqlite3 as lite
import pandas as pd

con = lite.connect('getting_started.db')
with con:
    
    cur = con.cursor()
    cur.execute("SELECT * FROM cities")
    
    rows = cur.fetchall()
    df = pd.DataFrame(rows)
    print(df.head())
    print(cur.description)

               0   1
0  New York City  NY
1         Boston  MA
2        Chicago  IL
3          Miami  FL
4         Dallas  TX
(('name', None, None, None, None, None, None), ('state', None, None, None, None, None, None))

In [3]:
# now to get column names

import sqlite3 as lite
import pandas as pd

con = lite.connect('getting_started.db')

with con:
    
    cur = con.cursor()
    cur.execute('SELECT * FROM cities')
    
    rows = cur.fetchall()
    cols = [desc[0] for desc in cur.description]
    df = pd.DataFrame(rows, columns=cols)
    
    print(rows)
    print(cols) # only 0 and 1 indecies
    print(df)

[('New York City', 'NY'), ('Boston', 'MA'), ('Chicago', 'IL'), ('Miami', 'FL'), ('Dallas', 'TX'), ('Seattle', 'WA'), ('Portland', 'OR'), ('San Francisco', 'CA'), ('Los Angeles', 'CA'), ('Washington', 'DC'), ('Houston', 'TX'), ('Washington', 'DC'), ('Houston', 'TX'), ('Las Vegas', 'NV'), ('Atlanta', 'GA')]
['name', 'state']
             name state
0   New York City    NY
1          Boston    MA
2         Chicago    IL
3           Miami    FL
4          Dallas    TX
5         Seattle    WA
6        Portland    OR
7   San Francisco    CA
8     Los Angeles    CA
9      Washington    DC
10        Houston    TX
11     Washington    DC
12        Houston    TX
13      Las Vegas    NV
14        Atlanta    GA

### Joining and Filtering Data in SQLite

In [5]:
import sqlite3 as lite

con = lite.connect('getting_started.db')

with con:
    cur = con.cursor()
    cur = con.execute("SELECT name, state, year, warm_month, cold_month, average_high FROM cities INNER JOIN weather ON name = city")
    rows = cur.fetchall()
    print(rows)

[('New York City', 'NY', 2013, 'July', 'January', 62), ('Boston', 'MA', 2013, 'July', 'January', 59), ('Chicago', 'IL', 2013, 'July', 'January', 59), ('Miami', 'FL', 2013, 'August', 'January', 84), ('Dallas', 'TX', 2013, 'July', 'January', 77), ('Seattle', 'WA', 2013, 'July', 'January', 61), ('Portland', 'OR', 2013, 'July', 'December', 63), ('San Francisco', 'CA', 2013, 'September', 'December', 64), ('Los Angeles', 'CA', 2013, 'September', 'December', 75), ('Washington', 'DC', 2013, 'July', 'January', 68), ('Houston', 'TX', 2013, 'July', 'January', 91), ('Washington', 'DC', 2013, 'July', 'January', 68), ('Houston', 'TX', 2013, 'July', 'January', 91), ('Las Vegas', 'NV', 2013, 'July', 'December', 95), ('Atlanta', 'GA', 2013, 'July', 'January', 80)]

### Grouping Data

In [7]:
# GROUP BY

con = lite.connect('getting_started.db')

with con:
    cur = con.cursor()
    cur = con.execute("SELECT warm_month, AVG(average_high) FROM weather GROUP BY warm_month")
    rows = cur.fetchall()
    print(rows)
    
# Groups the rows by warm month, then takes AVG of all average_highs

[('August', 84.0), ('July', 71.5), ('September', 69.5)]

In [8]:
# Try It!

# Write a SQL statement which finds the mean of the average high 
# temperatures for all of the cities within a state.

# Use combo of INNER JOIN with GROUP BY..

con = lite.connect('getting_started.db')
with con:
    cur = con.cursor()
    cur = con.execute("SELECT city, state, AVG(average_high) FROM weather INNER JOIN cities ON name = city GROUP BY state")
    rows = cur.fetchall()
    print(rows)

[('Los Angeles', 'CA', 69.5), ('Washington', 'DC', 68.0), ('Miami', 'FL', 84.0), ('Atlanta', 'GA', 80.0), ('Chicago', 'IL', 59.0), ('Boston', 'MA', 59.0), ('Las Vegas', 'NV', 95.0), ('New York City', 'NY', 62.0), ('Portland', 'OR', 63.0), ('Houston', 'TX', 84.0), ('Seattle', 'WA', 61.0)]

### Ordering Data

In [4]:
# Try It!

# Write a query which which finds the mean of the average high 
# temperatures for all of the cities within a state, 
# starting with the hottest.

import sqlite3 as lite
con = lite.connect('getting_started.db')
with con:
    cur = con.cursor()
    cur = con.execute('SELECT city, AVG(average_high), state FROM weather INNER JOIN cities ON name = city GROUP BY average_high ORDER BY average_high DESC')
    rows = cur.fetchall()
    print(rows)

[('Las Vegas', 95.0, 'NV'), ('Houston', 91.0, 'TX'), ('Miami', 84.0, 'FL'), ('Atlanta', 80.0, 'GA'), ('Dallas', 77.0, 'TX'), ('Los Angeles', 75.0, 'CA'), ('Washington', 68.0, 'DC'), ('San Francisco', 64.0, 'CA'), ('Portland', 63.0, 'OR'), ('New York City', 62.0, 'NY'), ('Seattle', 61.0, 'WA'), ('Chicago', 59.0, 'IL')]

In [6]:
# Try It!

# Write a query which which finds the mean of the average high 
# temperatures for all of the cities within a state, starting 
# with the hottest, and filtering out states with a mean above 65F.

import sqlite3 as lite
con = lite.connect('getting_started.db')
with con:
    cur = con.cursor()
    cur = con.execute('SELECT city, AVG(average_high), state FROM weather INNER JOIN cities ON name = city GROUP BY average_high HAVING average_high < 65')
    rows = cur.fetchall()
    print(rows)

[('Chicago', 59.0, 'IL'), ('Seattle', 61.0, 'WA'), ('New York City', 62.0, 'NY'), ('Portland', 63.0, 'OR'), ('San Francisco', 64.0, 'CA')]